name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
          java-package: jdk
          check-latest: true
      - run: chmod a+x gradlew
      - run: ./gradlew --version --no-daemon -S
      - run: ./gradlew clean setupCIWorkspace -S
      - run: ./gradlew clean build -S
